.container
  .signup-header
    %h1.logo
      =link_to root_path,class:"logo__link" do
        %img.logo__image{alt: "mercari", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?465897195"}/
  .signup-main
    .signup-main__container
      %h2.signup-main__heading 新規会員登録
      .signup-form
        .signup-form__content
          .signup-form__group
            = form_with url: registration_signup_index_path, method: :post,local: true do |f|
              = f.button :submit, {class:"signup-form__button signup-form__button--mail"} do
                %i.signup-form__button__icon
                メールアドレスで登録する
            = form_with url: user_facebook_omniauth_authorize_path, method: :post,local: true do |f|
              = f.button :submit, {class:"signup-form__button signup-form__button--facebook"} do
                %i.signup-form__button__icon
                Facebookで登録する
            = form_with url: user_google_oauth2_omniauth_authorize_path, method: :post,local: true  do |f|
              = f.button :submit, {class:"signup-form__button signup-form__button--google"} do
                Googleで登録する
  .signup-footer
    %nav.policies
      %ul.clearfix
        %li.policies__list
          %a.policies__link{href: "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
        %li.policies__list
          %a.policies__link{href: "https://www.mercari.com/jp/tos/"} メルカリ利用規約
        %li.policies__list
          %a.policies__link{href: "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
    %a.signup-footer__logo{href: "https://www.mercari.com/jp/"}
      %img{alt: "mercari",height: "65",src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?465897195",width: "80"}/
    %p.signup-footer__copyrights
      %small.signup-footer__copyrights--small © 2019 Mercari
