.signup-container
  .signup-header
    %h1.logo
      =link_to root_path,class:"logo__link" do
        =image_tag "/assets/images/logo.svg",class: 'logo__image'
  .signup-main
    .signup-main__container
      %h2.signup-main__heading 新規会員登録
      .signup-form
        .signup-form__content
          .signup-form__group
            = form_with url: registration_signup_index_path, method: :post,local: true do |f|
              = f.button :submit, {class:"signup-form__button signup-form__button--mail"} do
                %i.signup-form__button__icon
                メールアドレスで登録する
            = form_with url: user_facebook_omniauth_authorize_path, method: :post,local: true do |f|
              = f.button :submit, {class:"signup-form__button signup-form__button--facebook"} do
                %i.signup-form__button__icon
                Facebookで登録する
            = form_with url: user_google_oauth2_omniauth_authorize_path, method: :post,local: true  do |f|
              = f.button :submit, {class:"signup-form__button signup-form__button--google"} do
                Googleで登録する
  = render partial: "signup/signup_footer"