.container
  .header
    %h1.header__logo
      %a.header__logo__link{href: "#"}
        %img.header__logo__link--image{alt: "mercari", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?465897195"}/
    %nav.header__signup-progress
      %ol.header__signup-progress__list.clearfix
        %li.header__signup-progress__list__button.header__signup-progress__list__button--status-active
          会員情報
          .header__signup-progress__list__button--progress-status.header__signup-progress__list__button--status-active--progress-status
        %li.header__signup-progress__list__button
          電話番号認証
          .header__signup-progress__list__button--progress-status
        %li.header__signup-progress__list__button
          お届け先住所入力
          .header__signup-progress__list__button--progress-status
        %li.header__signup-progress__list__button
          支払い方法
          .header__signup-progress__list__button--progress-status
        %li.header__signup-progress__list__button
          完了
          .header__signup-progress__list__button--progress-status
  .main
    .main__container
      %h2.main__container__heading 会員情報入力
      = form_with model:@user, url: sms_confirmation_signup_index_path, method: :post,local: true, html: {class: 'main__container__form'} do |f|
        .main__container__form__content
          .main__container__form__content__group
            = f.label :nickname, "ニックネーム", {class:"main__container__form__content__group--label"}
            %span.main__container__form__content__group--require 必須
            = f.text_field :nickname, {placeholder: "例) メルカリ太郎",class:"main__container__form__content__group--input-default"}
          .main__container__form__content__group
            = f.label :email, "メールアドレス", {class:"main__container__form__content__group--label"}
            %span.main__container__form__content__group--require 必須
            = f.email_field :email, {placeholder: "PC・携帯どちらでも可",class:"main__container__form__content__group--input-default"}
          %input{name:"login_type",type: "hidden",value: ""}/
          -# おそらく、login_typeで「メール」「SNS」の弁別を行なっているので、今後の昨日実装時に使用する
          .main__container__form__content__group
            = f.label :password, "パスワード", {class:"main__container__form__content__group--label"}
            %span.main__container__form__content__group--require 必須
            = f.password_field :password, {placeholder: "7文字以上",class:"main__container__form__content__group--input-default"}
          .main__container__form__content__group
            = f.label :password_confirmation, "パスワード（確認）", {class:"main__container__form__content__group--label"}
            %span.main__container__form__content__group--require 必須
            = f.password_field :password_confirmation, {placeholder: "7文字以上",class:"main__container__form__content__group--input-default"}
          .main__container__form__content__group
            %h3.main__container__form__content__group--text-left 本人確認
            %p.main__container__form__content__group--single-text
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .main__container__form__content__group
            .form__label_wrapper
              = f.label  "お名前（全角）", {class:"main__container__form__content__group--label"}
              %span.main__container__form__content__group--require 必須
            = f.text_field :last_name, {placeholder: "例) 山田" ,class:"main__container__form__content__group--input-default main__container__form__content__group--input-default--half"}
            = f.text_field :first_name, {placeholder: "例) 彩" ,class:"main__container__form__content__group--input-default main__container__form__content__group--input-default--half"}
          .main__container__form__content__group
            .form__label_wrapper
              = f.label  "お名前カナ（全角）", {class:"main__container__form__content__group--label"}
              %span.main__container__form__content__group--require 必須
            = f.text_field :last_name_kana, {placeholder: "例) ヤマダ" ,class:"main__container__form__content__group--input-default main__container__form__content__group--input-default--half"}
            = f.text_field :first_name_kana, {placeholder: "例) アヤ" ,class:"main__container__form__content__group--input-default main__container__form__content__group--input-default--half"}
          .main__container__form__content__group
            = f.label :birthday, "生年月日", {class:"main__container__form__content__group--label"}
            %span.main__container__form__content__group--require 必須
            %br/
            .main__container__form__content__group__birthday
              .main__container__form__content__group__birthday__wrapper
                = f.date_select :birthday, {use_month_numbers:true,start_year:Time.now.year,end_year:1900, prompt:"--",date_separator: '</div><div class="main__container__form__content__group__birthday__wrapper">'},{class:"main__container__form__content__group__birthday--select"}
          %p.main__container__form__content--info-text
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .main__container__form__content
          %input{name: "after_save_callback",type: "hidden",value: ""}/
          .main__container__form__content__group
            .recaptcha__wrapper
              .recaptcha{style: "width: 304px; height: 78px;"}
                .recaptcha--tmp{style: "width: 243.2px; height: 62.4px; border:1px; background:#ddd;"} recaptcha実装準備箇所
          .main__container__form__content__group
            %p.main__container__form__content__group--single-text.text-center
              「次へ進む」のボタンを押すことにより、
              %a{href: "#",target: "_blank"}> 利用規約
              に同意したものとみなします
          = f.submit "次へ進む", {class:"main__container__form__content__group--button btn-red"}
          .main__container__form__content__group.text-right
            %p.main__container__form__content__group--single-text
              %a{href: "#",target: "_blank"}
                本人情報の登録について
                %i.icon-arrow-right
  .footer
    %nav.footer__policies
      %ul.clearfix
        %li.footer__policies__list
          %a.footer__policies__list--link{href: "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
        %li.footer__policies__list
          %a.footer__policies__list--link{href: "https://www.mercari.com/jp/tos/"} メルカリ利用規約
        %li.footer__policies__list
          %a.footer__policies__list--link{href: "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
    %a.footer__logo{href: "https://www.mercari.com/jp/"}
      %img{alt: "mercari",height: "65",src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?465897195",width: "80"}/
    %p.footer__copyrights
      %small.footer__copyrights--small © 2019 Mercari