%ul.main-imagebox
  -@elect_category.each do |item|
    %li.main-box
      = link_to "/items/#{item.id}", class: "main-imagebox" do
        %figure.box-figure
          %figcapition.figure-group
            %span.figure-text
              = item.name
          .product-imagebox
            .product-price
              = "¥ #{item.price}"
            = image_tag item.images[0], class: "product-image"
