.header-main
  .header-wrapper
    //header1
    .header-first
      .first-group
        =link_to root_path,{class:"mercari"} do
          %img.mercari__logo{alt: "Mercari", src: "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg"}/
      %form.form-box{action: "/jp/search/"}
        %input.form-box__form{name: "keyword", placeholder: "何かお探しですか？", type: "search"}/
        %button.form-box__btn
    - if user_signed_in?
      .header-second
        .second-group
          .category-menu
            =link_to "/categories/", {class:"header-category"} do
              -# font-awesomeで挿入する
              カテゴリーから探す
            .category-menus
              %ul.category-list
                %li.ladies
                  .ladies__lady レディース
                %li.mens
                  .mens__men メンズ
                  %ul.mens-list
                %li.baybes
                  %a.mens__men ベビーキッズ
                  %ul.sc-kcbnda.bOAnU 
                %li.houses
                  %a.hoiuses__house インテリア・住まい・小物
                  %ul.sc-kcbnda.bOAnUl
                %li.books
                  %a.books__book 本・音楽・ゲーム
                  %ul.sc-kcbnda.bOAnUl
                %li.goods
                  %a.goods__good おもちゃ・ボビー・グッズ
                  %ul.sc-kcbnda.bOAnUl
                %li.perfumes
                  %a.perfumes__perfume コスメ・香水・美容
                  %ul.sc-kcbnda.bOAnUl
                %li.elects
                  %a.elects__elect 家電・スマホ・カメラ
                  %ul.sc-kcbnda.bOAnUl
                %li.sports
                  %a.sports__sport スポーツ・レジャー
                  %ul.sc-kcbnda.bOAnUl
                %li.hands
                  %a.hands__hand ハンドメイド
                  %ul.sc-kcbnda.bOAnUl
                %li.tickets
                  %a.tickets__ticket チケット
                  %ul.sc-kcbnda.bOAnUl
                %li.automashine
                  %a.automahsine__auto 自転車・オートバイ
                  %ul.sc-kcbnda.bOAnUl
                %li.other
                  %a.other__another その他
                  %ul.sc-kcbnda.bOAnUl
                %li.category-mode
                  = link_to "カテゴリ一覧", categories_path, class: "ladies" 


          .brands-menu
            = link_to "#", {class:"header-brands"} do
              -# font-awesomeで挿入する
              ブランドから探す
            .brand-menu
              %ul.brand-list
                %li.shanels
                  .shanels__shanel シャネル
                %li.naikis
                  .naikis__naiki ナイキ
                %li.vitons
                  .vitons__viton ルイ ヴィトン
                %li.suprimes
                  .suprimes__suprime シュプリーム
                %li.adidas
                  .adidas__adida アディダス
                %li.brands
                  .brands__shanel ブランド一覧

        %ul.fours-group
          %li.like-list
            = link_to "#", {class:"like"} do
              -# font-awesomeで実装する
              いいね！一覧
          %li.notice-list
            = link_to "#", {class:"notice-menu"} do
              -# font-awesomeで実装する
              お知らせ
            //js
            .news-box
              %ul.news-list
                %li.news-menu
                  %a.news-hoge{:href => "/jp/mypage/"}
                    .news-mercari-logo
                      %img.news-mercari-logo__mercari-logo{:alt => "", :src => "https://static.mercdn.net/images/mercari_profile.png"}/
                    .news-now
                      %p.news-campaign 招待コード「MOTTAINAI」を入力してメルペイをはじめるとP1,000が必ずもらえる！
                      %time.news-watch
                        -# font-awesomeをつかって実装する

          %li.to-do-list
            %a.to-do-menu{:href => "/jp/mypage/todo/"}
              %svg.to-do{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 21 16", :width => "21"}
                %path{:d => "M6.682 12.657L1.67 7.642 0 9.313 6.682 16 21 1.672 19.33 0z", :fill => "currentColor", "fill-rule" => "nonzero"}
              やることリスト

            //js部分です。
            .doing-list
              %ul.doing-menu
                %li.doing-do
                  %a.doing-logo{:href => "https://www.mercari.com/jp/help_center/article/759/"}
                    .doing-picture
                      %img.doing-mercari{:alt => "", :src => "https://static.mercdn.net/images/mercari_profile.png"}/

                    .doing-news
                      %p.doing-news-list ご登録のメールアドレスに認証メールを送りました。メールに記載のURLをクリックして、メールアドレスを認証してください。
                      %time.doing-watch
                        %svg.doing-watch-logo{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 16 16", :width => "16"}
                          %path{:d => "M7.992 0C3.576 0 0 3.584 0 8s3.576 8 7.992 8C12.416 16 16 12.416 16 8s-3.584-8-8.008-8zM8 14.4A6.398 6.398 0 0 1 1.6 8c0-3.536 2.864-6.4 6.4-6.4 3.536 0 6.4 2.864 6.4 6.4 0 3.536-2.864 6.4-6.4 6.4zM8.4 4H7.2v4.8l4.2 2.52.6-.984L8.4 8.2V4z", :fill => "currentColor", "fill-rule" => "nonzero"}
                        %span.sc-kPVwWT.ciZoNz 17日前

                    %svg.doing-path{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 10 16", :width => "10"}
                      %path{:d => "M0 14.12L6.18 8 0 1.88 1.903 0 10 8l-8.097 8z", :fill => "currentColor", "fill-rule" => "nonzero"}

        
          %li.mypage-list
            .mypage-menu
              %img.mypage{:alt => "", :src => "https://static.mercdn.net/images/member_photo_noimage_thumb.png"}
              = link_to "マイページ", mypages_path, classs: "mypages-list" 
            

            //jsの部分です
            -# .sc-ibxdXY.fVKnBn
            -#   .sc-jqCOkK.heXNii
            -#     %figure.sc-uJMKN.gMAtgd
            -#       .sc-bbmXgH.CsUdK
            -#         %img.sc-gGBfsJ.jsXHUn{:alt => "", :src => "https://static.mercdn.net/images/member_photo_noimage_thumb.png"}/
            -#       %figcaption.sc-jnlKLf.ZXktj 百崎悠太
            -#     .sc-tilXH.iZdtmU
            -#       %a.sc-hEsumM.cDbCXs{:href => "/jp/mypage/review/history/"}
            -#         評価:
            -#         / 
            -#         0
            -#       %a.sc-hEsumM.cDbCXs{:href => "/jp/mypage/listings/listing/"}
            -#         出品数:
            -#         / 
            -#         0
            -#     %ul.sc-ktHwxA.dPywGa
            -#       %li.sc-cIShpX.iGdAxI
            -#         %a.sc-kafWEX.hBTVOE{:href => "/jp/mypage/sales/"}
            -#           .sc-feJyhm.fRrBax 売上金
            -#           .sc-iELTvK.ohuBD
            -#             ¥0
            -#             %svg.sc-jzJRlG.hwpmcw{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 10 16", :width => "10"}
            -#               %path{:d => "M0 14.12L6.18 8 0 1.88 1.903 0 10 8l-8.097 8z", :fill => "currentColor", "fill-rule" => "nonzero"}
            -#       %li.sc-cIShpX.iGdAxI
            -#         %a.sc-kafWEX.hBTVOE{:href => "/jp/mypage/point/"}
            -#           .sc-feJyhm.fRrBax ポイント
            -#           .sc-iELTvK.ohuBD
            -#             P
            -#             / 
            -#             0
            -#             %svg.sc-jzJRlG.hwpmcw{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 10 16", :width => "10"}
            -#               %path{:d => "M0 14.12L6.18 8 0 1.88 1.903 0 10 8l-8.097 8z", :fill => "currentColor", "fill-rule" => "nonzero"}
            -#     .sc-fYxtnH.hSLfWw
            -#       %ul.sc-cmTdod.eoxnDQ
            -#         %li.sc-jwKygS.koyiHx
            -#           %a.sc-lhVmIH.ihIPHG{:href => "/jp/mypage/like/history/"}
            -#             いいね！一覧
            -#             %svg.sc-jzJRlG.sc-btzYZH.gttrDa{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 10 16", :width => "10"}
            -#               %path{:d => "M0 14.12L6.18 8 0 1.88 1.903 0 10 8l-8.097 8z", :fill => "currentColor", "fill-rule" => "nonzero"}
            -#         %li.sc-jwKygS.koyiHx
            -#           %a.sc-lhVmIH.ihIPHG{:href => "/jp/mypage/listings/listing/"}
            -#             出品した商品 - 出品中
            -#             %svg.sc-jzJRlG.sc-btzYZH.gttrDa{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 10 16", :width => "10"}
            -#               %path{:d => "M0 14.12L6.18 8 0 1.88 1.903 0 10 8l-8.097 8z", :fill => "currentColor", "fill-rule" => "nonzero"}
            -#         %li.sc-jwKygS.koyiHx
            -#           %a.sc-lhVmIH.ihIPHG{:href => "/jp/mypage/listings/in_progress/"}
            -#             出品した商品 - 取引中
            -#             %svg.sc-jzJRlG.sc-btzYZH.gttrDa{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 10 16", :width => "10"}
            -#               %path{:d => "M0 14.12L6.18 8 0 1.88 1.903 0 10 8l-8.097 8z", :fill => "currentColor", "fill-rule" => "nonzero"}
            -#         %li.sc-jwKygS.koyiHx
            -#           %a.sc-lhVmIH.ihIPHG{:href => "/jp/mypage/listings/completed/"}
            -#             出品した商品 - 売却済み
            -#             %svg.sc-jzJRlG.sc-btzYZH.gttrDa{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 10 16", :width => "10"}
            -#               %path{:d => "M0 14.12L6.18 8 0 1.88 1.903 0 10 8l-8.097 8z", :fill => "currentColor", "fill-rule" => "nonzero"}
            -#         %li.sc-jwKygS.koyiHx
            -#           %a.sc-lhVmIH.ihIPHG{:href => "/jp/mypage/purchase/"}
            -#             購入した商品 - 取引中
            -#             %svg.sc-jzJRlG.sc-btzYZH.gttrDa{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 10 16", :width => "10"}
            -#               %path{:d => "M0 14.12L6.18 8 0 1.88 1.903 0 10 8l-8.097 8z", :fill => "currentColor", "fill-rule" => "nonzero"}
            -#         %li.sc-jwKygS.koyiHx
            -#           %a.sc-lhVmIH.ihIPHG{:href => "/jp/mypage/purchased/"}
            -#             購入した商品 - 過去の取引
            -#             %svg.sc-jzJRlG.sc-btzYZH.gttrDa{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 10 16", :width => "10"}
            -#               %path{:d => "M0 14.12L6.18 8 0 1.88 1.903 0 10 8l-8.097 8z", :fill => "currentColor", "fill-rule" => "nonzero"}

    - else
      .header-second
        .second-group
          .category-menu
            %a.header-category{:href => "/jp/category/"}
              %svg.category-search{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 20 16", :width => "20"}>
                %path{:d => "M18.799 15.25h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zM2 16a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4z", :fill => "currentColor", "fill-rule" => "nonzero"}
              カテゴリーから探す
            
            -# .category-menus
            -#   %ul.category-list
            -#     -@parents.each do |parent|
            -#       %li.parent-list
            -#         = parent.name

            -#         %ul.child-list
            -#           -parent.children.each do |child|
            -#             %li.child-menu
            -#               = child.name

            -#               %ul.grandchild-list
            -#                 -child.children.each do |grandchild|
            -#                   %li.grand-list
            -#                     = grandchild.name
                  -# %li.mens
                  -#   .mens__men メンズ
                  -#   %ul.mens-list

                  -# %li.baybes
                  -#   %a.mens__men ベビーキッズ
                  -#   %ul.sc-kcbnda.bOAnU 

                  -# %li.houses
                  -#   %a.hoiuses__house インテリア・住まい・小物
                  -#   %ul.sc-kcbnda.bOAnUl

                  -# %li.books
                  -#   %a.books__book 本・音楽・ゲーム
                  -#   %ul.sc-kcbnda.bOAnUl

                  -# %li.goods
                  -#   %a.goods__good おもちゃ・ボビー・グッズ
                  -#   %ul.sc-kcbnda.bOAnUl

                  -# %li.perfumes
                  -#   %a.perfumes__perfume コスメ・香水・美容
                  -#   %ul.sc-kcbnda.bOAnUl

                  -# %li.elects
                  -#   %a.elects__elect 家電・スマホ・カメラ
                  -#   %ul.sc-kcbnda.bOAnUl

                  -# %li.sports
                  -#   %a.sports__sport スポーツ・レジャー
                  -#   %ul.sc-kcbnda.bOAnUl

                  -# %li.hands
                  -#   %a.hands__hand ハンドメイド
                  -#   %ul.sc-kcbnda.bOAnUl

                  -# %li.tickets
                  -#   %a.tickets__ticket チケット
                  -#   %ul.sc-kcbnda.bOAnUl

                  -# %li.automashine
                  -#   %a.automahsine__auto 自転車・オートバイ
                  -#   %ul.sc-kcbnda.bOAnUl

                  -# %li.other
                  -#   %a.other__another その他
                  -#   %ul.sc-kcbnda.bOAnUl
                    
                  %li.category-mode
                    = link_to "カテゴリ一覧", categories_path, class: ".ladies" 

            -# .child-menus 
    
            -#   %ul.child-menu
            -#     %li.child-list 

          .brands-menu
            = link_to "#", {class:"header-brands"} do
              %svg.brands-search{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 23 16", :width => "23"}>
                %path{:d => "M6.315 0L4.473 1.806 2.833.019.73 1.977l1.69 1.84L1.198 5.02c-1.594 1.594-1.594 4.188-.01 5.772L6.3 16h13.272a3.08 3.08 0 0 0 3.077-3.077V3.076A3.08 3.08 0 0 0 19.57 0H6.315zm13.46 12.925a.211.211 0 0 1-.205.205H7.504L3.227 8.771a1.226 1.226 0 0 1-.01-1.71L4.38 5.92l1.28 1.371a2.68 2.68 0 1 0 2.13-1.93L6.433 3.907 7.49 2.87h12.082a.211.211 0 0 1 .206.205v9.848h-.002z", :fill => "currentColor", "fill-rule" => "nonzero"}
              ブランドから探す

            .brand-menu
              %ul.brand-list
                %li.shanels
                  .shanels__shanel シャネル
                %li.naikis
                  .naikis__naiki ナイキ
                %li.vitons
                  .vitons__viton ルイ ヴィトン
                %li.suprimes
                  .suprimes__suprime シュプリーム
                %li.adidas
                  .adidas__adida アディダス
                %li.brands
                  .brands__shanel ブランド一覧

        %ul.newmember-list
          .member-new
            .new-registration
              =link_to '新規会員登録',signup_index_path,{class:"new-registration-link"}
            .exisiting-member
              =link_to 'ログイン',login_index_path,{class:"exsiting-member-link"}