%script{:src => "//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js", :type => "text/javascript"}


.header 
  = render "headers"

.item-show-container
  .itembox
    %h1.name
      = @item.name
    %h1.name
    .itembox-main
      .itembox-photos
        .itembox-photo
          .image-for
            - @item.images.each do |image|
              .image-box
                =image_tag image
      //出品者
      %table.itembox-table
        %th 出品者
        %td
          = @item.user.nickname
          .item-user-ratings
            %i.icon-good
            %span
        %tr
          %th カテゴリー
          %td
            = @item.category.name
        %tr
          %th 商品のサイズ
          %td
            = @item.size
        %tr
          %th 商品の状態
          %td
            = @item.state.name
        %tr
          %th 配送料の負担
          %td
            =  @item.ship_cost.name
        %tr
          %th 配送の方法
          %td ゆうゆうメルカリ便
        %tr
          %th 配送元地域
          %td
            =link_to "/prefectures/#{@item.prefecture.id}" do
              = "#{@item.prefecture.name}"
        %tr
          %th 発送日の目安
          %td
            = @item.ship_date.name
    .itembox__price-box
      %span.item-price 
        = "¥" + @item.price.to_s
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み

    - if user_signed_in?
      -if current_user.id != @item.user.id
        = form_with url: buying_transactions_path ,method: :post, local: true do |f|
          = f.number_field :item_id, {type:"hidden", value:"#{@item.id}"}
          - if @item.selling
            = f.submit "この商品は売り切れています", {class:"buy-btn buy-btn--gray", disabled:true}
          - else
            = f.submit "購入画面に進む", {class:"buy-btn"}
        %p.shipping-only
          購入制限がある場合はここに警告が表示されることになります

    .itembox-description
      %p.itembox-description__inner
        = @item.description

    .itembox-buttonbox
      .button-left
        %button.button-left__button-like{"data-ga" => "element", "data-ga-category" => "LIKE", "data-ga-label" => "like!", "data-id" => "m87638910422", "data-toggle" => "like", :name => "like!", :type => "button"}
          %i.icon-like-border
          %span いいね!
          %span.fade-in-down{"data-num" => "like"} 1
        %button.button-left__button-report{"data-modal" => "report-item", "data-open" => "modal", :href => ""}
          %i.icon-flag
          %span 不適切な商品の報告
        %input{:name => "like_add_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/add/m87638910422/"}/
        %input{:name => "like_del_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/delete/m87638910422/"}/
        %input{:name => "__csrf_value", :type => "hidden", :value => "71762cf3e3cd18c9222fcc765e1ef1dc9571de78a4647a2b88c1586443e156243d7a38413204f61d25e00f9faafa01122cf34323893357e7395320d68935d95e0"}/
      .button-right
        %a{:href => "https://www.mercari.com/jp/safe/description/", :target => "_blank"}
          -# %i.icon-lock
          %span あんしん・あんぜんへの取り組み




  -if user_signed_in?
    - if @item.user.id == current_user.id
      .listing-item-change-box
        =link_to "/sell/#{@item.id}/edit",{class:"signup-form__button signup-form__button--red"} do
          商品の編集
        %p.text-center
          or
        =link_to "商品の削除画面_path",{class:"signup-form__button buy-btn--gray"} do
          この商品を削除する




  .messagebox
    .messagebox-wrapper
      .messagebox-message
        %form.messagebox-message__message-form{:action => "/", :method => "POST"}
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %input{:name => "item_id", :type => "hidden", :value => "m87638910422"}/
          %input{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}/
          %textarea.messagebox-message__text{:name => "body", :type => "text", :value => ""}
          %button.messagebox-message__submit{:type => "submit"}
            %span コメントする

  .item-link
    %ul.link-group-left
      = link_to "#", class: "item-link__icon--angle-left" do
        = fa_icon 'angle-left'
      %li.link-group-left__link-left prev
    
    %ul.link-group-right
      %li.link-group-right__link-right next
      = link_to "#", class: "item-link__icon--angle-right" do
        = fa_icon 'angle-right'


  .iconbox
    .iconbox-wrapper

    %ul.social-mediabox
      %li
        %a.sharebtn{"data-window-name" => "facebook_window", :href => "http://www.facebook.com/share.php?u=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm89737403392%2F", :target => "_blank"}
          %i.facebook-icon 
      %li
        %a.sharebtn{"data-window-name" => "twitter_window", :href => "http://twitter.com/share?count=horizontal&original_referer=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm89737403392%2F&text=%E3%80%90coen%E3%80%91%E8%86%9D%E4%B8%88%E3%83%8B%E3%83%83%E3%83%88%E2%80%A6%20%28%C2%A51%2C450%29%20https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm89737403392%2F%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%E3%80%8C%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E3%80%8D%E3%81%A7%E8%B2%A9%E5%A3%B2%E4%B8%AD%E2%99%AA%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%40mercari_jp%E3%81%95%E3%82%93%E3%81%8B%E3%82%89", :target => "_blank"}
          %i.tweet-icon
      %li.social-hidden-item
        %a{:href => "http://line.me/R/msg/text/?【coen】膝丈ニットワンピース コーエン グレー パーカー%20%7C%20%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%E3%82%B9%E3%83%9E%E3%83%9B%E3%81%A7%E3%81%8B%E3%82%93%E3%81%9F%E3%82%93%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%0D%0Ahttps://item.mercari.com/jp/m89737403392/", :target => "_blank"}
          %i.icon-line
      %li
        %a.sharebtn{"data-window-name" => "pinterest_window", :href => "http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm89737403392%2F&media=https%3A%2F%2Fstatic.mercdn.net%2Fitem%2Fdetail%2Forig%2Fphotos%2Fm89737403392_1.jpg%3F1570195668&description=%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E5%95%86%E5%93%81%3A%20%E3%80%90coen%E3%80%91%E8%86%9D%E4%B8%88%E3%83%8B%E3%83%83%E3%83%88%E3%83%AF%E3%83%B3%E3%83%94%E3%83%BC%E3%82%B9%20%E3%82%B3%E3%83%BC%E3%82%A8%E3%83%B3%20%E3%82%B0%E3%83%AC%E3%83%BC%20%E3%83%91%E3%83%BC%E3%82%AB%E3%83%BC%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA", :target => "_blank"}
          %i.pinterest-icon 



  .userbox
    %section.userbox-items

      %h2.username-collection
        = link_to root_path do
          = @item.user.nickname + "さんのその他の出品"

      .user-items

        %section.user-items__item-box
          %figure.user-items__item-box__item-photo
            %img.item-photo-image{:src => "https://static.mercdn.net/thumb/photos/m31929905445_1.jpg?1572744602"}/
          .item-introduction
            %h3.item-introduction__name 激安ダオ
            .item-price
              .item-price__num ¥221,000
    
.tMFrx
  = render "now-download"

.footer
  = render "footer"