.header 
  = render "items/headers"

= render "items/sellbtn"

.category
  .category-main

    .category-title
      .category-list
        %h2.categories-menu カテゴリー一覧

      .category-parent
        -@parents.each do |parent|
          .parent-name
            = parent.name
      
      //レディース
      - @parents.each do |parent|
        .category-children

          .children-list

            .children-name
              = parent.name
            
            .ladies-all
              %p.font すべて
              
              -parent.children.each do |child|
                .lady-all
                  = child.name
        
              
                .child_box
                  .list
                    -child.children.each do |grandchild|
                      .menu
                        = grandchild.name
                        

.tMFrx
  = render "items/now-download"

.footer
  = render "items/footer"