.header 
  = render "items/headers"

= render "items/sellbtn"

.category
  .category-main
    .category-title
      .category-list
        %h2.categories-menu カテゴリー一覧

      -# カテゴリの親要素のみがボタンとなって存在しているところ
      .category-parent
        -@parents.each do |parent|
          = link_to "/categories/#{parent.id}" do
            .parent-name
              = parent.name

      -# カテゴリ別に全てのリンクが貼られているところ
      - @parents.each do |parent|
        .category-children
          .children-list
            .children-name
              = parent.name
            .children-all
              =link_to "/categories/#{parent.id}" do
                %p.font すべて
              -parent.children.each do |child|
                .lady-all
                  = child.name
                .child_box
                  .list
                    -child.children.each do |grandchild|
                      = link_to "/categories/#{grandchild.id}" do
                        .menu
                          = grandchild.name
                        

.tMFrx
  = render "items/now-download"

.footer
  = render "items/footer"