!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketAppFk61a
    = csrf_meta_tags
    = csp_meta_tag
    %script{:src => "//code.jquery.com/jquery-1.11.0.min.js", :type => "text/javascript"}
    %script{:src => "//code.jquery.com/jquery-1.11.0.min.js", :type => "text/javascript"}
    %script{:src => "//code.jquery.com/jquery-migrate-1.2.1.min.js", :type => "text/javascript"}
    %link{:href => "//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css", :rel => "stylesheet", :type => "text/css"}/
    = javascript_include_tag 'application'
    = stylesheet_link_tag    'application', media: 'all'
  %body
    = yield
